NODE_ENV='development'
PORT='3201'
CLIENT_URL='http://localhost:3200'

MONGODB_URI=''
MONGODB_DB='organizer'

JWT_TOKEN_SECRET='organizer'
USER_TOKEN_TTL='1800'
JWT_ACCESS_TOKEN_TTL='604800'
JWT_REFRESH_TOKEN_TTL='2592000'

GOOGLE_ID=''
GOOGLE_SECRET=''

GOOGLE_CLIENT_ID= ''
GOOGLE_CLIENT_SECRET= ''

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

MAIL_HOST='smtp.gmail.com'
MAIL_PORT='587'
MAIL_USER='tareqnmd@gmail.com'
MAIL_PASSWORD=''
MAIL_FROM='Tareq Organizer <tareqnmd@gmail.com>'